<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
    
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />
    <link rel="icon" type="image/png" href="static\favicon.png" />
    <title>Iniciar Sesion - Taskify</title>

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#101323] dark group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2e2447] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M42.4379 44C42.4379 44 36.0744 33.9038 41.1692 24C46.8624 12.9336 42.2078 4 42.2078 4L7.01134 4C7.01134 4 11.6577 12.932 5.96912 23.9969C0.876273 33.9029 7.27094 44 7.27094 44L42.4379 44Z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Taskify</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">Aprender</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Acerca de</a>
            </div>
            <a href="register">
            <button
              type="submit"
              id="register-button"
              class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#2e2447] text-white text-sm font-bold leading-normal tracking-[0.015em]"
            >
              <span class="truncate">Crear Cuenta</span>
            </button></a>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col w-[512px] max-w-[512px] py-5 max-w-[960px] flex-1">
            <h2 class="text-white tracking-light text-[28px] font-bold leading-tight px-4 text-center pb-3 pt-5">Bienvenido de nuevo</h2>
            <form id="login-form">
              <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                  <p class="text-white text-base font-medium leading-normal pb-2">Nombre de usuario</p>
                  <input
                    id="username"
                    placeholder="Ingresa tu nombre de usuario"
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#2f396a] bg-[#181d35] focus:border-[#2f396a] h-14 placeholder:text-[#8e99cc] p-[15px] text-base font-normal leading-normal"
                    required
                  />
                </label>
              </div>
              <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
                <label class="flex flex-col min-w-40 flex-1">
                  <p class="text-white text-base font-medium leading-normal pb-2">Contraseña</p>
                  <input
                    id="password"
                    type="password"
                    placeholder="Ingresa tu contraseña"
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-white focus:outline-0 focus:ring-0 border border-[#2f396a] bg-[#181d35] focus:border-[#2f396a] h-14 placeholder:text-[#8e99cc] p-[15px] text-base font-normal leading-normal"
                    required
                  />
                </label>
              </div>
              <p id="error-msg" class="text-red-500 text-sm font-medium px-4 pt-2 hidden"></p>
              <div class="flex px-4 py-3">
                <button
                  type="submit"
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 flex-1 bg-[#607afb] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Iniciar sesión</span>
                </button>
              </div>
            </form>
            
            <p class="text-[#8e99cc] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-left underline">¿Olvidaste tu contraseña?</p>
          </div>
        </div>
      </div>
    </div>
    <script src="static/JS/login.js" defer></script>
  </body>
</html>
